section.back-image {
    background-image: url('/assets/images/banner/banner-aq-618-619-650-620-612.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-attachment: fixed;
    padding: 15rem 0;
}

section.back-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    background: linear-gradient(270deg, #000000 -20%, rgba(255, 255, 255, 0.12) 80%);
    background: -webkit-linear-gradient(270deg, #000000 -20%, rgba(255, 255, 255, 0.12) 80%);
    background: -moz-linear-gradient(270deg, #000000 -20%, rgba(255, 255, 255, 0.12) 80%);
    z-index: 2;
}

section.back-image::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f4c232;
    background: linear-gradient(90deg, #f4c232 -140%, rgba(0, 255, 0, 0) 100%);
    background: -webkit-linear-gradient(90deg, #f4c232 -140%, rgba(0, 255, 0, 0) 100%);
    background: -moz-linear-gradient(90deg, #f4c232 -140%, rgba(0, 255, 0, 0) 100%);
    z-index: 2;
}
section.back-image .banner-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    z-index: 3;
}

section.back-image .banner-title .big-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Banner';
    color: #fff;
}

section.back-image .banner-title .sec-title {
    font-size: 3rem;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section.landing-menu {
    background-color: var(--dark-color);
    z-index: 2;

}

section.landing-menu .langding-nav {}

section.landing-menu .langding-nav a {
    color: #fff;
    padding: 0.5rem 1rem;

}

.active-landingMenu {
    background-color: var(--primary-color);
}

section.landing-menu .langding-nav a:first-child {}

section.landing-menu .langding-nav a:hover {
    background-color: var(--primary-color);
}

section .right-side{
    overflow-y: auto;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    height: 25rem;
    padding-right: 1rem;
}
/* company  */
#company{
    background: url('../assets/images/bg-light2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* product  */
#product{
    background: url('../assets/images/bg-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* news  */
#news{
    background: url('../assets/images/bg-light2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* other  */
#other{
    background: url('../assets/images/bg-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#product .sub-title::after {
    content: "";
    position: absolute;
    right: -2.7rem;
    top: 45%;
    transform: translateY(-50%);
    width: 2rem;
    height: 1px;
    border-bottom: 1px solid var(--primary-color);
}

