<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vicom Quartz</title>

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/animations.min.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/product.css">

</head>

<body>
    <header class="header static-menu">
        <div class="container">
            <div class="top-bar row p-3 align-items-center">
                <div class="logo-zone col-md-2 d-flex justify-content-start">
                    <div class="img-box">
                        <img src="../assets/images/logo.png" alt="logo" class="w-100 h-100">
                    </div>
                </div>
                <nav class="nav-bar col-md-8 ">
                    <div class="menu">
                        <ul class="nav justify-content-center">
                            <li class="home nav-item px-3">
                                <a href="index.html">Trang chủ</a>
                            </li>
                            <li class="about-us nav-item px-3">
                                <a href="about-us.html">Giới thiệu</a>
                            </li>
                            <li class="product nav-item px-3">
                                <a href="product.html" class="active-menu">Sản phẩm</a>
                            </li>
                            <li class="virtual-room nav-item px-3">
                                <a href="virtual-room.html">Phòng mô phỏng</a>
                            </li>
                            <li class="news nav-item px-3">
                                <a href="news.html">Tin tức</a>
                            </li>
                            <li class="contact nav-item px-3">
                                <a href="contact.html">Liên hệ</a>
                            </li>

                        </ul>
                    </div>
                </nav>
                <div class="right-zone col-md-2 d-flex justify-content-end align-items-center">
                    <div><i class="bi bi-search"></i></div>
                    <div class="language">VI</div>
                </div>
            </div>
        </div>
    </header>
    <section class="banner">
        <div class="banner-title container">
            <div class="big-title">Sản phẩm nổi bật</div>
            <div class="sec-title btn-shine">VicomQuartz</div>
        </div>
        <div class="swiper descProduct-swipper ">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="/assets/images/banner/banner-aq618.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                    </div>
                    <div class="readmore container d-flex align-items-center">
                        <div class="name">AQ618</div>
                        <div class="btn btn-readmore">
                            <span>Xem thêm</span>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="/assets/images/banner/banner-aq619.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                    </div>
                    <div class="readmore container d-flex align-items-center">
                        <div class="name">AQ619</div>
                        <div class="btn btn-readmore">
                            <span>Xem thêm</span>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="/assets/images/banner/banner-aq620.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                    </div>
                    <div class="readmore container d-flex align-items-center">
                        <div class="name">AQ620</div>
                        <div class="btn btn-readmore">
                            <span>Xem thêm</span>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="/assets/images/banner/banner-aq849.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                    </div>
                    <div class="readmore container d-flex align-items-center">
                        <div class="name">AQ849</div>
                        <div class="btn btn-readmore">
                            <span>Xem thêm</span>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="/assets/images/banner/banner-aq950.jpg" alt="" class="w-100 h-100"
                            style="object-fit: cover;">
                    </div>
                    <div class="readmore container d-flex align-items-center">
                        <div class="name">AQ950</div>
                        <div class="btn btn-readmore">
                            <span>Xem thêm</span>
                            <i class="bi bi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div thumbsSlider="" class="swiper product-swipper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../assets/images/products/AQ618 (1).jpg" class="w-100 h-100" style="object-fit: cover;" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/products/AQ619 (1).jpg" class="w-100 h-100" style="object-fit: cover;" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/products/AQ620 (1).jpg" class="w-100 h-100" style="object-fit: cover;" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/products/AQ849 (1).jpg" class="w-100 h-100" style="object-fit: cover;" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/images/products/AQ950 (1).jpg" class="w-100 h-100" style="object-fit: cover;" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="p-category">
        <div class="container">
            <div class="top-side">
                <div class="param">
                    <span class="sub-title">Danh mục sản phẩm</span>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Rerum, ipsum? Culpa
                        obcaecati quisquam non provident quos vero nihil dolorem beatae eaque. Aut sequi corrupti
                        assumenda cum aliquam inventore quis voluptate.</p>
                </div>
            </div>
            <div class="bot-side" style="margin-top: 2rem;">
                <div class="swiper award-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <img src="../assets/images/banner/banner-aq-618-619-650-620-612.jpg"
                                    class="card-img-top" alt="..." style="height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Tên loại sản phẩm</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn" style="background-color: var(--dark-color);color:#fff;">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <img src="../assets/images/banner/banner-aq-940-938-948.jpg" class="card-img-top"
                                    alt="..." style="height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Tên loại sản phẩm</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn" style="background-color: var(--dark-color);color:#fff;">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <img src="/assets/images/banner/banner-aq618.jpg" class="card-img-top" alt="..."
                                    style="height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Tên loại sản phẩm</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn" style="background-color: var(--dark-color);color:#fff;">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <img src="/assets/images/banner/banner-aq620.jpg" class="card-img-top" alt="..."
                                    style="height: 10rem; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Tên loại sản phẩm</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn" style="background-color: var(--dark-color);color:#fff;">Xem
                                        chi tiết</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="p-all back-pos">
        <div class="container">
            <div class="top-side">
                <div class="param">
                    <span class="sub-title">Danh sách các sản phẩm</span>
                </div>
                <div class="display">

                </div>
            </div>
            <div class="bot-side row" style="margin-top: 2rem;">
                <div class="left-side col-md-4">
                    <div class="search-box">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" placeholder="Tìm kiếm sản phẩm" aria-label=""
                                aria-describedby="basic-addon2">
                            <i class="bi bi-search input-group-text" id="basic-addon2"></i>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="category">
                            <div class="head-title">
                                <span class="title">Danh mục</span>
                            </div>
                            <div class="radio-box">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio"
                                        id="categoryRadio1" checked>
                                    <label class="form-check-label" for="categoryRadio1">
                                        Tất cả
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio"
                                        id="categoryRadio2">
                                    <label class="form-check-label" for="categoryRadio2">
                                        Loại sản phẩm 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio"
                                        id="categoryRadio3">
                                    <label class="form-check-label" for="categoryRadio3">
                                        Loại sản phẩm 2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio"
                                        id="categoryRadio4">
                                    <label class="form-check-label" for="categoryRadio4">
                                        Loại sản phẩm 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="material">
                            <div class="head-title">
                                <span class="title">Chất liệu</span>
                            </div>
                            <div class="radio-box">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialRadio"
                                        id="materialRadio1" checked>
                                    <label class="form-check-label" for="materialRadio1">
                                        Tất cả
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialRadio"
                                        id="materialRadio2">
                                    <label class="form-check-label" for="materialRadio2">
                                        Chất liệu 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialRadio"
                                        id="materialRadio3">
                                    <label class="form-check-label" for="materialRadio3">
                                        Chất liệu 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="size">
                            <div class="head-title">
                                <span class="title">Kích cỡ</span>
                            </div>
                            <div class="radio-box">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadio1"
                                        checked>
                                    <label class="form-check-label" for="sizeRadio1">
                                        Tất cả
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadio2">
                                    <label class="form-check-label" for="sizeRadio2">
                                        Kích cỡ 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadio3">
                                    <label class="form-check-label" for="sizeRadio3">
                                        Kích cỡ 2
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side col-md-8 justify-content-between row">
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AG551 (1).jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AG551</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AM550 (1).jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AM550</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ004.jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ004</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ101.jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ101</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ188.jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ188</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ260 (1).jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ260</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ261.jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ261</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ849 (1).jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ849</span>
                        </div>

                    </div>
                    <div class="col-md-4 p-item">
                        <div class="img-box">
                            <img src="../assets/images/products/AQ801 (2).jpg" alt="" />
                            <div class="readmore">
                                <span> Xem sản phẩm</span>
                            </div>
                        </div>
                        <div class="p-name text-center pt-3 pb-2">
                            <span style="font-weight: bolder;">AQ801</span>
                        </div>

                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="pagination d-flex">
                            <!-- <div class="prev-page"><i class="bi bi-chevron-double-left"></i></div> -->
                            <div class="page-number active-page">1</div>
                            <div class="page-number">2</div>
                            <div class="next-page"><i class="bi bi-chevron-double-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="">
        <div class="ft-wrapper">
            <div class="container p-3">
                <div class="row justify-content-between align-items-center ft-top">
                    <div class="logo col-md-6">
                        <img src="../assets/images/logo.png" alt="logo" class="w-100 h-100">
                    </div>
                    <div class="col-md-6">
                        <div class="send-mail d-flex align-items-center">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Địa chỉ email của bạn"
                                    aria-label="" aria-describedby="basic-addon2">
                                <i class="bi bi-send input-group-text" id="basic-addon2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between ft-bot">
                    <div class="col-md-3">
                        <div class="ft-title">Liên hệ</div>
                        <div class="d-flex align-items-center">
                            <i class="bi bi-geo-alt "></i>
                            <span>Địa chỉ công ty</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="bi bi-telephone"></i>
                            <span>0946928815</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="bi bi-envelope"></i>
                            <span>info@gmail.com</span>
                        </div>
                        <div class="social d-flex align-items-center">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-youtube"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ft-title">Sản phẩm nổi bật</div>
                        <div class="d-flex align-items-center">
                            <span>Sản phẩm 1</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Sản phẩm 2</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Sản phẩm 3</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ft-title">Phòng mô phỏng</div>
                        <div class="d-flex align-items-center">
                            <span>Phòng khách</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Phòng ăn</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Phòng tắm</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="ft-title">Bản đồ</div>
                        <div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1132410573355!2d105.80084557517648!3d21.02815448062106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBHaWFvIFRow7RuZyBW4bqtbiBU4bqjaQ!5e0!3m2!1svi!2s!4v1685756787739!5m2!1svi!2s"
                                width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                </div>
                <div style="text-align: center; margin-top: 1rem;">
                    ©Copyright by Nguyen Thanh Hung
                </div>
            </div>
        </div>
    </footer>
    <div class="tool-box">
        <div class="back-to-top">
            <i class="bi bi-chevron-up"></i>
        </div>
    </div>
    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!-- Initialize Swiper -->
    <script>
        var swiperProduct = new Swiper(".product-swipper", {
            loop: true,
            loopedSlides: 2,
            spaceBetween: 20,
            slidesPerView: 3,
            speed:1000,
            slideToClickedSlide: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },

        });
        var swiperDescProduct = new Swiper(".descProduct-swipper", {
            loop: true,
            effect: "fade",
            speed:1000,
            autoplay:{
                delay:3500,
            },
            pauseOnMouseEnter:true,
            loopedSlides: 2,
            slidesPerView: 1,
            spaceBetween: 20,
            slideToClickedSlide: true,

        });
        swiperProduct.controller.control = swiperDescProduct;
        swiperDescProduct.controller.control = swiperProduct;

        var swiperAward = new Swiper(".award-swiper", {
            slidesPerView: 3,
            spaceBetween: 10,
            // pagination: {
            //     el: ".swiper-pagination",
            //     clickable: true,
            // },
        });

    </script>
    <script src="/js/layout.js"></script>
    <script src="/js/product.js"></script>
</body>

</html>